# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/
/env

# Google API credentials
token.json
credentials.json

# Environment files
.env

# Ignore Django migrations
*/migrations/

# Ignore dadtabase files
*.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore IDE specific files
.vscode/
.idea/
